@import "colors";
@import "typeography";
*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
header{
    background-image: url(/assets/home/desktop/image-hero.jpg);
    height: 80vh;
    img{
        position: absolute;
        left: 10%;
    top: 3.5%;
    cursor: pointer;
    }
    .block{
        display: flex;
        justify-content: center;
      
        
        ul{
            list-style:none;
            li{
                float: left;
                a{
                    display: block;
  color: $white;
  text-align: center;
  padding: 34px;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
font-size: 13px;
font-weight: bold;
                }
            }
        }
        img{
            width: 23px;
            height: 20px;
            position: relative;
            left: 13vw;
            top: 3.5vh;
        }
    }
    .bar{
        background: $white;
    opacity: 0.2;
    height: 1px;
    width: 70vw;
    position: relative;
    left: 9%;
    }
    .textbox{
        width: 50vw;
        position: relative;
        left: 10%;
        top: 10%;
        p{
            width:10vw ;
            text-transform: uppercase;
            color: $white;
            opacity: 0.5;
            padding-bottom: 24px;
        }
        h1{
            width: 17vw;
            color: $white;
            padding-bottom: 24px;
        }
        .desc{
                width: 349px;
                text-transform:none;
                padding-bottom: 40px;
        }
        button{
            width: 160px;
            height: 48px;
            background-color: $orange;
color: $white;
border: 0;
border-radius: 3px;
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 18px;

letter-spacing: 1px;
text-transform: uppercase;
cursor: pointer;
        }

    }
}
main{
    display: flex;
    flex-direction: column;
    padding-top: 127px;
    align-items: center;
    .categories{
        display: flex;
        gap: 30px;
        justify-content: center;
        padding-bottom: 168px;
        #present{
            width:350px ;
            height:204px ;
            border-radius: 8px;
            background-color: $grey;
            position: relative;
           
            
            button{
                width: 58px;
        height: 18px;
        border: 0;
        width: 58px;
        height: 18px;
        border: 0;
        opacity: 0.5;
cursor: pointer;
font-weight: bold;
&:hover{
    color: $orange;
    opacity: 1;
}
            }
            img{
                width: 130px;
                height: 160px;
                position: relative;
                left: 30%;
                bottom: 30%;
            }
            h6{
                position: relative;
                left: 37%;
                bottom: 30%;
            }
            button{
                position: relative;
                left: 40%;
                bottom: 25%;
            }
            .arrow{
                width: 5px;
                height: 10px;
                position: relative;
                left: 37%;
                bottom: 50px;

            }
           
        }
     
    }  
    
    .hero2{
        background-color: $orange;
        width: 1110px;
        height: 560px;
        border-radius: 5px;
        position: relative;
        margin-bottom: 36px;
        img{
            width: 410px;
            height: 493px;
            position: absolute;
            left:15%;
            top: 13.4%;
            
            
           
        }
        .text-container{
            width: 349px;
            height: 303px;
            position: absolute;
            left: 65%;
            bottom: 30%;
            color: $white;
            h1{
                width: 240px;
                text-transform: uppercase;
                padding-bottom: 24px;
                
            }
            p{
                font-weight: 500;
                font-size: 15px;
                line-height: 25px;
                opacity: 0.75;
                padding-bottom: 40px;
            }
            button{
                width: 160px;
                height: 48px;
                color: $white;
                background-color: $black1;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                line-height: 18px;
                letter-spacing: 1px;
               z-index: 1;
               cursor: pointer;
            }
        }
      
    }
    .hero3{
        width: 1110px;
        height: 320px;
        background-image: url(/assets/home/desktop/image-speaker-zx7.jpg);
        position: relative;
        margin-bottom: 60px;
        h4{
            text-transform: uppercase;
            position: absolute;
            left: 95px;
            top: 87px;
        }
        button{
            width: 160px;
            height: 48px;
            position: absolute;
            left: 97px;
            top:160px;
            border: 2px solid $black;
            text-transform: uppercase;
            cursor: pointer;
            background-color: transparent;
            font-weight: 700;
font-size: 13px;
line-height: 18px;
        }
    }
    .yx1{
        display: flex;
        gap: 30px;
        margin-bottom: 200px;
        .photo{
            width: 540px;
            height: 320px;
            background-image: url(/assets/home/desktop/image-earphones-yx1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
        }
        .info{
            width: 540px;
            height: 320px;
            position: relative;
            background-color: $grey;
            border-radius: 5px;
            text-transform: uppercase;
            position: relative;
            h4{
             position: absolute;
             left: 95px;
             top: 101px;
             margin: 0;
            }
            button{
                width: 160px;
                height: 48px;
                position: absolute;
                left: 96px;
                top: 171px;
                border: 1px solid $black;
                text-transform: uppercase;
                cursor: pointer;
                background-color: transparent;
                padding: 0;
                font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
            }
        }
    }
    .about{
        width: 1110px;
        height: 588px;
        position: relative;
        margin-bottom: 200px;
        h2{
            width: 445px;
            height: 88px;
            text-transform: uppercase;
            margin-bottom: 32px;
            span{
                color: $orange;
            }
        }
        p{
            width: 445px;
            height: 175px;
            font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.5;
    margin: 0;
           }
           img{
            width: 540px;
            height: 588px;
            border-radius: 5px;
            position: absolute;
            left: 570px;
           bottom: 0%;
           }
        
    }
    
}
footer{
    width:100%;
        height:365px;
        background-color: $black;
        position: relative;
        img{
            position: relative;
            top: 75px;
            left: 165px;
            cursor: pointer;
          }
          ul{ position: absolute;
            left: 60%;
            bottom: 64%;
            list-style:none;
            li{
                float: left;
                a{
                    display: block;
  color: $white;
  text-align: center;
  padding: 34px;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
font-size: 13px;
font-weight: bold;
                }
            }
        }
        p{
            width: 540px;
            height: 100px;
            color: $white;
            mix-blend-mode: normal;
        opacity: 0.5;
        position: absolute;
        top: 136px;
        left:165px;
        }
        .socialBox{
            position: absolute;
            left: 1171px;
            top: 155px;
            display: flex;
            gap: 16px;
            img{
                cursor:pointer ;
            }
        }
        .copyright{
            position: absolute;
            left: 165px;
            top: 292px;
            color: $white;
        opacity: 0.5;
        }

}

