@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
h1 {
  font-family: "Manrope", sans-serif;
  font-size: 56px;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
}

h4 {
  font-family: "Manrope", sans-serif;
  font-size: 28px;
}

h5 {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
}

h6 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
}

button {
  font-family: "Manrope", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

header {
  background-color: #101010;
  height: 40vh;
  margin-bottom: 160px;
}
header img {
  position: absolute;
  left: 10%;
  top: 3.5%;
  cursor: pointer;
}
header .block {
  display: flex;
  justify-content: center;
}
header .block ul {
  list-style: none;
}
header .block ul li {
  float: left;
}
header .block ul li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 34px;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
header .block img {
  width: 23px;
  height: 20px;
  position: relative;
  left: 13vw;
  top: 3.5vh;
}
header .bar {
  background: #FFFFFF;
  opacity: 0.2;
  height: 1px;
  width: 70vw;
  position: relative;
  left: 9%;
}
header h2 {
  color: #FFFFFF;
  position: relative;
  left: 40%;
  top: 30%;
  width: 40px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 160px;
}
main .box {
  width: 1110px;
  height: 560px;
  display: flex;
  gap: 125px;
}
main .box img {
  width: 540px;
  height: 560px;
  border-radius: 4px;
}
main .box .textbox {
  width: 50vw;
  position: relative;
  left: 10%;
  top: 10%;
}
main .box .textbox p {
  width: 10vw;
  text-transform: uppercase;
  color: #D87D4A;
  opacity: 0.5;
  padding-bottom: 24px;
}
main .box .textbox h1 {
  width: 17vw;
  color: #101010;
  padding-bottom: 24px;
}
main .box .textbox .desc {
  width: 349px;
  text-transform: none;
  padding-bottom: 40px;
  color: #101010;
}
main .box .textbox button {
  width: 160px;
  height: 48px;
  background-color: #D87D4A;
  color: #FFFFFF;
  border: 0;
  border-radius: 3px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
main .categories {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-bottom: 168px;
}
main .categories #present {
  width: 350px;
  height: 204px;
  border-radius: 8px;
  background-color: #F1F1F1;
  position: relative;
}
main .categories #present button {
  width: 58px;
  height: 18px;
  border: 0;
  width: 58px;
  height: 18px;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
  font-weight: bold;
}
main .categories #present button:hover {
  color: #D87D4A;
  opacity: 1;
}
main .categories #present img {
  width: 130px;
  height: 160px;
  position: relative;
  left: 30%;
  bottom: 30%;
}
main .categories #present h6 {
  position: relative;
  left: 37%;
  bottom: 30%;
}
main .categories #present button {
  position: relative;
  left: 40%;
  bottom: 25%;
}
main .categories #present .arrow {
  width: 5px;
  height: 10px;
  position: relative;
  left: 37%;
  bottom: 50px;
}
main .about {
  width: 1110px;
  height: 588px;
  position: relative;
  margin-bottom: 200px;
}
main .about h2 {
  width: 445px;
  height: 88px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
main .about h2 span {
  color: #D87D4A;
}
main .about p {
  width: 445px;
  height: 175px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  margin: 0;
}
main .about img {
  width: 540px;
  height: 588px;
  border-radius: 5px;
  position: absolute;
  left: 570px;
  bottom: 0%;
}/*# sourceMappingURL=desktop2.css.map */