@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
h1 {
  font-family: "Manrope", sans-serif;
  font-size: 56px;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
}

h4 {
  font-family: "Manrope", sans-serif;
  font-size: 28px;
}

h5 {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
}

h6 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
}

button {
  font-family: "Manrope", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

header {
  background-color: #101010;
  height: 10vh;
  margin-bottom: 160px;
}
header img {
  position: absolute;
  left: 10%;
  top: 3.5%;
  cursor: pointer;
}
header .block {
  display: flex;
  justify-content: center;
}
header .block ul {
  list-style: none;
}
header .block ul li {
  float: left;
  cursor: pointer;
}
header .block ul li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 34px;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
header .block img {
  width: 23px;
  height: 20px;
  position: relative;
  left: 13vw;
  top: 3.5vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
}
main #productView {
  width: 1110px;
  height: 560px;
  display: flex;
  gap: 125px;
}
main #productView img {
  width: 560px;
  height: 540px;
}
main #productView .textBox {
  padding-top: 100px;
}
main #productView .textBox .np {
  color: #D87D4A;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-bottom: 16px;
  opacity: 1;
}
main #productView .textBox h2 {
  padding-bottom: 32px;
}
main #productView .textBox #price {
  color: #101010;
  opacity: 1;
}
main #productView .textBox p {
  opacity: 0.5;
  padding-bottom: 32px;
  font-weight: 700;
  font-size: 18px;
}
main #productView .textBox #cart2 {
  display: flex;
  gap: 20px;
}
main #productView .textBox #cart2 .inputs {
  position: relative;
}
main #productView .textBox #cart2 .inputs input {
  width: 120px;
  height: 48px;
  background-color: #F1F1F1;
  border: 0;
  text-align: center;
  cursor: default;
}
main #productView .textBox #cart2 .inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
main #productView .textBox #cart2 .inputs input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
main #productView .textBox #cart2 .inputs input:focus {
  outline: none;
}
main #productView .textBox #cart2 .inputs .btn-minus, main #productView .textBox #cart2 .inputs .btn-plus {
  position: absolute;
  top: 13px;
  width: 30px;
  height: 30px;
  border: none;
  text-align: center;
  cursor: pointer;
}
main #productView .textBox #cart2 .inputs .btn-minus {
  left: 10px;
}
main #productView .textBox #cart2 .inputs .btn-plus {
  left: 65%;
}
main #productView .textBox #cart2 button {
  width: 160px;
  height: 48px;
  background-color: #D87D4A;
  color: #FFFFFF;
  border: 0;
  border-radius: 3px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
main .categories {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-bottom: 168px;
}
main .categories #present {
  width: 350px;
  height: 204px;
  border-radius: 8px;
  background-color: #F1F1F1;
  position: relative;
}
main .categories #present button {
  width: 58px;
  height: 18px;
  border: 0;
  width: 58px;
  height: 18px;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
  font-weight: bold;
}
main .categories #present button:hover {
  color: #D87D4A;
  opacity: 1;
}
main .categories #present img {
  width: 130px;
  height: 160px;
  position: relative;
  left: 30%;
  bottom: 30%;
}
main .categories #present h6 {
  position: relative;
  left: 37%;
  bottom: 30%;
}
main .categories #present button {
  position: relative;
  left: 40%;
  bottom: 25%;
}
main .categories #present .arrow {
  width: 5px;
  height: 10px;
  position: relative;
  left: 37%;
  bottom: 50px;
}
main .about {
  width: 1110px;
  height: 588px;
  position: relative;
  margin-bottom: 200px;
}
main .about h2 {
  width: 445px;
  height: 88px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
main .about h2 span {
  color: #D87D4A;
}
main .about p {
  width: 445px;
  height: 175px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  margin: 0;
}
main .about img {
  width: 540px;
  height: 588px;
  border-radius: 5px;
  position: absolute;
  left: 570px;
  bottom: 0%;
}

footer {
  width: 100%;
  height: 365px;
  background-color: #101010;
  position: relative;
}
footer img {
  position: relative;
  top: 75px;
  left: 165px;
  cursor: pointer;
}
footer ul {
  position: absolute;
  left: 60%;
  bottom: 64%;
  list-style: none;
}
footer ul li {
  float: left;
  cursor: pointer;
}
footer ul li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 34px;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
footer p {
  width: 540px;
  height: 100px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  top: 136px;
  left: 165px;
}
footer .socialBox {
  position: absolute;
  left: 65%;
  top: 30%;
  display: flex;
  gap: 16px;
}
footer .socialBox img {
  cursor: pointer;
}
footer .copyright {
  position: absolute;
  left: 165px;
  top: 292px;
  color: #FFFFFF;
  opacity: 0.5;
}/*# sourceMappingURL=product.css.map */